* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #222;
  
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}

header nav .navbar{
  display: flex;
  gap: 10px;
}

header nav .navbar button {
  width: auto;
}

header nav .navbar .logout{
  background-color: #e26161;
  font-weight: bold;
  cursor: pointer;
}




div .post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
}

div.post div.texts h1 {
  margin: 0;
  font-size: 1.8rem;
}

div.post p.info {
  margin: 6px 0;
  font-size: 0.7rem;
  font-weight: bold;
  color: #888;
  display: flex;
  gap: 10px;
}

div.post p.info a.author {
  text-decoration: none;
  color: #333;
}

div.post p.summary {
  margin: 10px 0;
  line-height: 1.4rem;
}

form.login,
form.register {
  max-width: 500px;
  margin: 0 auto;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  display: block;
  background-color: green;
  font-weight: bold;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

form h1 {
  text-align: center;
  margin-bottom: 20px;
}


.dropdown .dropdown_div{
  display: flex;
  gap: 10px; 
  align-items: center; 
}




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #555;
}